@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300);
body {
    background: -webkit-radial-gradient(#414141 10%, #111);
    background: -moz-radial-gradient(#414141 10%, #111);
    background: radial-gradient(#414141 10%, #111);
    font-family: 'Open Sans', sans-serif!important; 
    height: 100vh;
}
aside p{
    text-align: center;
}
section{
    width: 80%;
    margin: 20px 0 0 40px;
}
section article{
    margin: 0 0 100px 0;
}
aside p, header h1, header p{
    color: #fff;
}
header h2{
    color: #aaa;
}
header p{
    margin: 0 auto;
}
.inline{
    display: inline-block;
}
.occult{
    display: none;
}
#side-panel{
    width: 15%;
    max-width: 20%;
    min-width: 180px;
    padding: 40px 0 0;
    vertical-align: top;
    height: 100vh;
}
#data{
    max-width: 800px;
    min-width: 400px;
}

.controls{
    padding: 0 0 0 20px;
}
.controls>.btn {
    margin-top: 10px;
    display: block;
}