<body id="page-top" class="index">
    <header>
        <h1 class="d-none">englishcomputer</h1>
    </header>
    <nav class="navbar navbar-expand-lg fixed-top bg-dark navbar-dark page-scroll">
        <a class="navbar-brand" href="..">
            <img style="max-width:10em; margin-top: -0.45em;"src="../img/logo.svg" alt="Logo de englishcomputer">
        </a>
        <h2 class="d-none">menú de navegación</h2>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-collapse" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menu-collapse">
            <div class="navbar-nav ml-auto">
                <a class="d-none mt-2  nav-item  nav-link" href="#page-top"></a>
                <a class="page-scroll mt-2 nav-item  nav-link" href="?">Cursos</a>
                <a  class="page-scroll mt-2 nav-item  nav-link" href="../#about">Acerca de</a>
            <!--<a class="page-scroll" href="#login">Acceder</a>-->
                <a class="page-scroll nav-item  nav-link" href="..">
                    <span class=" btn btn-primary">Inicio</span></a>
            </div>            
        </div>
    </nav>